<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Sciezka" value="C:\Users\developer\Documents\c#\4\PlikiDzienniki"/>
		<add key="Czas" value="30"/>
		<add key="Dziennik" value="AplikacjaPlikiKonfiguracyjne"/>
		<add key="Zrodlo" value="AplikacjaPlikiKonfiguracyjneSource"/>
	</appSettings>
	<system.diagnostics>
		<switches >
			<add name="Logowanie" value="1"></add>	
		</switches>
	</system.diagnostics>

	
</configuration>